* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.head {
    background-color: #1f2937;
    color: white;
    min-height: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    color: white;
    text-decoration: none;
  }

img {
    width: 500px;
    height: auto;
    border: 2px white;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.second {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 30px;
}


.navbar {
    flex: 1;
    display: flex;
    justify-content: center;
    max-height: 100px;
    padding-top: 20px;
    gap: 500px;
}

.bar {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 200px; 
}


.left, .right {
    max-width: 400px;;
}

.title, .second, button {
    padding: 10px;
}

.left {
    flex-shrink: 3;
}

.main {
    text-align: center;
    margin: 50px 0px 100px 0px;
}

.text2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.card {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.img {
    width: 200px;
    border: 2px solid black;
}

.items {
    max-width: 200px;
   
}

.quote {
    background-color: #e5e7eb;
    height: 300px;
}

.textquote, .author {
    max-width: 1000px;
    
}

.quote, .textquote {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.textquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}


.author {
   display: flex;
   justify-content: flex-end;
   font-size: 20px;
   font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    justify-content: center;
    margin: 100px 300px;
    padding: 20px;
    border-radius: 10px;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    color: white;
}

.t1 {
    font-weight: 900;
}

.t2 {
    font-weight: 300;
}

.btn {
    border: 2px solid  white;
    color: white;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
}

.footer {
    color: white;
    background-color: #1f2937;
    flex: 1;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}
